### Importación de librerías útiles

In [1]:
import pandas as pd

### Importamos el csv que necesitamos

In [8]:
data = pd.read_csv('funcionarios202112.csv', sep=',', encoding='latin1', low_memory=False)

### ¿Qué contiene el dataframe?

In [9]:
data.head(4)

,anho,mes,nivel,descripcion_nivel,entidad,descripcion_entidad,oee,descripcion_oee,documento,nombres,...,devengado,movimiento,lugar,fecha_nacimiento,fec_ult_modif,uri,fecha_acto,correo,profesion,motivo_movimiento
0,2021,12,40,SOCIEDADES ANONIMAS CON PARTICIPACION ACCIONAR...,2,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S.A.,1,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S...,1000016,ODILON,...,3079000,A - ALTA (INCORPORACIÓN),0,1963/01/01 00:00:00.000,2022/01/10 07:21:38.668000000,http://datos.sfp.gov.py/id/funcionarios/1000016,2013/07/01 00:00:00.000,salarios.essap@hotmail.com,BACHILLER HUMANISTICO,Acta: 612/2013
1,2021,12,40,SOCIEDADES ANONIMAS CON PARTICIPACION ACCIONAR...,2,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S.A.,1,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S...,1000016,ODILON,...,154440,A - ALTA (INCORPORACIÓN),0,1963/01/01 00:00:00.000,2022/01/10 07:21:38.669000000,http://datos.sfp.gov.py/id/funcionarios/1000016,2013/07/01 00:00:00.000,salarios.essap@hotmail.com,BACHILLER HUMANISTICO,Acta: 612/2013
2,2021,12,40,SOCIEDADES ANONIMAS CON PARTICIPACION ACCIONAR...,2,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S.A.,1,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S...,1000016,ODILON,...,285120,A - ALTA (INCORPORACIÓN),0,1963/01/01 00:00:00.000,2022/01/10 07:21:38.670000000,http://datos.sfp.gov.py/id/funcionarios/1000016,2013/07/01 00:00:00.000,salarios.essap@hotmail.com,BACHILLER HUMANISTICO,Acta: 612/2013
3,2021,12,40,SOCIEDADES ANONIMAS CON PARTICIPACION ACCIONAR...,2,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S.A.,1,EMPRESA DE SERVICIOS SANITARIOS DEL PARAGUAY S...,1000016,ODILON,...,475200,A - ALTA (INCORPORACIÓN),0,1963/01/01 00:00:00.000,2022/01/10 07:21:38.670000000,http://datos.sfp.gov.py/id/funcionarios/1000016,2013/07/01 00:00:00.000,salarios.essap@hotmail.com,BACHILLER HUMANISTICO,Acta: 612/2013

#### Veamos si existen datos nulos en el dataframe

In [10]:
data.isnull()

,anho,mes,nivel,descripcion_nivel,entidad,descripcion_entidad,oee,descripcion_oee,documento,nombres,...,devengado,movimiento,lugar,fecha_nacimiento,fec_ult_modif,uri,fecha_acto,correo,profesion,motivo_movimiento
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404051,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,False,False,False,False,True
1404052,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,False,False,False,False,True
1404053,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,False,False,False,False,True
1404054,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,False,False,False,False,True
1404055,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,False,False,False,False,True

#### Veamos si existen filas duplicadas

In [11]:
data.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
1404051    False
1404052    False
1404053    False
1404054    False
1404055    False
Length: 1404056, dtype: bool